:root {
  --custom-pink: #fddede;
  --custom-green: #caf2d7;
  --custom-dark-green: #60a9a6;
}

html {
  scroll-behavior: smooth;
}

/* FONT & COLOR */

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.text-nanum {
  font-family: 'Nanum Pen Script', cursive;
}

.text-pink {
  color: var(--custom-pink);
}

.text-green {
  color: var(--custom-green);
}

.text-dark-green {
  color: var(--custom-dark-green) !important;
}

.bg-pink {
  background-color: var(--custom-pink);
}

.bg-dark-green {
  background-color: var(--custom-dark-green);
}

.text-headline {
  font-size: 80px;
}

/* BACKGROUND */

#creation {
  background: url(../assets/bg/bg.svg) no-repeat center;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 405px;
  height: 122px;
  margin: auto;
  z-index: 1000;
  background-clip: padding-box;
}

.wave {
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 1000;
}

.wave::after {
  content: " ";
  white-space: pre;
}

#wavePink {
  background-image: url(../assets/bg/waves-pink.svg);
  background-position: top;
  bottom: -23px;
}

#backToTop {
  background: url(../assets/bg/btn-up.svg) no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 1000;
}

#navbarCollapse ul li a::after {
  position: absolute;
  background: url(../assets/bg/underline-wave.svg) repeat-x bottom;
  content: '';
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
}

#navbarCollapse ul li a:hover::after {
  width: 100%;
}

/* POSITION & SIZES*/

.center-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.unpinned {
  top: -200px;
}

.full {
  height: 100vh;
}

.object-cover {
  object-fit: cover;
}

.socmed {
  height: 30px;
}

#quoteRight {
  bottom: 20%;
  right: -3%;
}

#ourCreationImages button {
  font-size: 2rem;
}

/* ANIMATION */

#navbar {
  transition: all 0.8s;
}

#navbarCollapse ul li a, #navbarCollapse ul li a::before, #navbarCollapse ul li a::after {
  transition: all 0.4s;
}

.trans-4 {
  transition: all 0.4s ease-in-out;
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.pointer {
  cursor: pointer;
}

.opa-0 {
  opacity: 0;
}

#contact div.row div.col-lg-6 a {
  color: var(--custom-dark-green);
}

/* RESPONSIVE TABLET */

@media screen and (max-width: 768px) {
  .full {
    height: 60vh;
  }
  .text-headline {
    font-size: 70px;
  }
  p {
    font-size: 0.9rem;
  }
  #creation {
    height: 113px;
  }
  #ourCreationImages button {
    font-size: 1.2rem;
  }
  .fa-3x {
    font-size: 2em;
  }
  a.navbar-brand img, img.pt-5 {
    width: 100px;
  }
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 414px) {
  .text-headline {
    font-size: 45px;
  }
  p {
    font-size: 0.7rem;
  }
  #creation {
    width: 250px;
    height: 70px;
  }
  #ourCreationImages button {
    font-size: 0.5rem;
  }
  .d-sm-none {
    display: none;
  }
  .fa-3x {
    font-size: 1.2em;
  }
  .h1 {
    font-size: 1.8rem;
  }
  .h3 {
    font-size: 1rem;
  }
  .text-sm-center {
    text-align: center !important;
  }
  .py-sm-3 {
    padding-bottom: 1rem !important;
  }
  a.navbar-brand img, img.pt-5 {
    width: 80px;
  }
}